<template>
    <v-container fluid grid-list-xl>
        <v-app>
            <v-container fluid grid-list-xl>
                <v-dialog v-model="dialog" max-width="500px">
                    <v-btn slot="activator" fab dark large bottom right color="indigo" fixed>
                        <v-icon dark>add</v-icon>
                    </v-btn>
                    <v-layout row wrap>
                        <v-flex xs12 class="my-3">
                            <v-card>
                                <form >
                                <v-toolbar color="primary">
                                    <v-btn icon>
                                        <v-icon color="white">arrow_back</v-icon>
                                    </v-btn>
                                    <span class="headline">{{ formTitle }}</span>
                                    <v-spacer></v-spacer>
                                    <v-btn icon>
                                        <v-icon color="white">more_vert</v-icon>
                                    </v-btn>
                                </v-toolbar>
                                <v-container fluid class="px-3">
                                    <v-layout row wrap>
                                        <v-flex xs12>
                                            <v-text-field
                                                :rules="[(v) => v.length <= 25 || 'Max 25 characters']"
                                                :counter="25"
                                                v-model="item.title"
                                                label="Blog Title"
                                            ></v-text-field>
                                        </v-flex>
                                        <v-flex xs12>
                                            <v-text-field
                                                :rules="[(v) => v.length <= 50 || 'Max 50 characters']"
                                                :counter="50"
                                                v-model="item.body"
                                                label="What's on you mind?"
                                            ></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="red" class="white--text"  @click.native="close">Cancel</v-btn>
                                    <v-btn color="blue" class="white--text"  @click="addNew()">Post</v-btn>
                                </v-card-actions>
                                </form>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-dialog>
                <v-card class="card-box">
                    <v-card-title>
                        <v-spacer></v-spacer>
                        <v-text-field
                            append-icon = "search"
                            label = "Search"
                            single-line
                            hide-details
                            v-model = "search"
                        >
                        </v-text-field>
                    </v-card-title>
                    <v-data-table
                        :headers="headers"
                        :items="items"
                        :search="search"
                        hide-actions
                        class="elevation-1"
                    >
                        <template slot="items" slot-scope="props">
                            <tr v-for="(item, key) in items" key="">
                            <td class="text-xs-right">{{ item.title }}</td>
                            <td class="text-xs-right">{{ item.body }}</td>
                            <td class="text-xs-right">{{ item.created }}</td>
                            <td class="justify-center layout px-0">
                                <v-btn icon class="mx-0" @click="editItem(key)">
                                    <v-icon color="teal">edit</v-icon>
                                </v-btn>
                                <v-btn icon class="mx-0" @click="deleteItem(key)">
                                    <v-icon color="pink">delete</v-icon>
                                </v-btn>
                            </td>
                            </tr>
                        </template>
                        <v-alert slot="no-results" :value="true" color="error" icon="warning">
		                    Your search for "{{ search }}" found no results.
                        </v-alert>
                        <template slot="no-data">
                            <v-btn color="primary" @click="initialize">Reset</v-btn>
                        </template>
                    </v-data-table>
                </v-card>
            </v-container>
        </v-app>
    </v-container>
</template>
<script>    
  export default {
    data: () => ({

    title: 'Title of your blog',
    description: 'Whats on your mind?',
      dialog: false,
      headers: [
        { text: 'Title', value: 'title' },
        { text: 'Body', value: 'body' },
        { text: 'Published', value: 'created' },
        { text: 'Actions', value: 'name', sortable: false }
      ],
      items: [],
      editedIndex: -1,
      item: {
        title: '',
        body: ''

      },
      search: ''
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Whats on your mind?' : 'Edit Blog Post'
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    mounted () {
      //
    },

    methods: {
      initialize () {
        this.items.push(this.item);
      },
      addNew (){
          let blog = {
              title: this.item.title,
              body: this.item.body
          }
          this.items.push (blog);

          this.close();
      },
      editItem (item) {
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item, r) {
        this.items.splice(item)
			alert(r);
        
      },    

      close () {
        this.dialog = false
 
        }
     

    }
  }
</script>
